<div id="box" class="main">
<div>
	<div class="error" *ngIf="error_stat">
		<p>
			Invalid username or password
		<p>
	</div>
<div class="border border-dark inner">
		<div class="border-bottom border-dark login">
			<h3>
				Login
			</h3>
		</div>
		<div style="margin: 8px;" class="inner">
			<form>
			  <div class="form-group">
			    <label>Username :</label>
			    <div>
			      <input type="text" class="form-control" id="username" #username>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="password">Password :</label>
			    <div>
			      <input type="password" class="form-control" id="password" #password>
			    </div>
			</div>
			<app-button text="Login" (btnclick)="login(username.value, password.value)"></app-button>
			</form>
		</div>
		</div>
	</div>
</div>

